<div id="bookSelect-div">
  <div id="bookSelect-form-div" class="main-content">
    <h2>{{title}}</h2>
    <p>
      Below options display the Booking details, please select the Booking which you want to modify
    </p>
    <p>You can also provide rating of the car you booked</p>
    <p>Select the Booking</p>
    {{#if bookId}}
      <form id="bookSelect-form" method="POST" action="/protected/manageBooking">

        <label for="bookSelect">
        <select name="bookSelect" id="bookSelect">
          
          <option value="default">Please select the booking to Update</option>
          {{#each bookId}}
            <option value={{this._id}}>
              Pick Up Date:
              {{this.pickUpDate}}
              , Pick Up Time:
              {{this.pickUpTime}},
              <!--{{#each carDetails}}-->
              Car Type:
              {{this.carType}}
              , Car brand:
              {{this.brand}}, Car Model:
              {{this.model}}
              <!--{{/each}}-->

            </option>
            {{/each}}
</label>
         

        </select>
         
        <p> Please select the action you want to perform:</p>
        <label for="bookingChange">
        <select name="bookingChange" id="bookingChange">
          <option value="default"> Please select</option>
          <option value="updateBooking"> Update Booking</option>
          <option value="cancelBooking">Cancel Booking</option>
          <option value="giveRating">Rate the car</option>

        </select>
        </label>
        {{!-- <a class="link" target="_blank" href="/protected/payment">{{this.carType}}</a> --}}

        <button type="submit">Submit</button>
      </form>
    {{/if}}

    {{#if error}}
      <p class="error">{{error}}</p>
    {{/if}}

  </div>
</div>