
<h1>{{ title }}</h1>

<p>The cars based on your entered location is:</p>
<!--<h2 class="color-primary">{{searchPersonName}}</h2>-->
 {{#if car}}
 <div class="main-block">
    <ul>
        {{#each car}}

        <li>
            <!-- Mohak:- see which anchor tag works between the 2 below-->
         <!-- <a class="link" target="_blank" href="/protected/payment/{{this.id}}">Car Type: {{this.carType}}  Car brand: {{this.brand}} Car Model: {{this.model}} Car location: {{this.currentLocation}} Car rating: {{this.rating}} cost per hour: {{this.costPerHour}} availability: {{this.availability}}</a>-->
           <a class="link" target="_blank" href="/protected/payment">Car Type: {{this.carType}}  Car brand: {{this.brand}} Car Model: {{this.model}} Car location: {{this.currentLocation}} Car rating: {{this.rating}} cost per hour: {{this.costPerHour}} availability: {{this.availability}}</a>
        </li>
        {{/each}}
    </ul>
    
     {{/if}}
 </div>
   
<br>





